//Переменные

$regular-font: 'NotoSans', "Arial", sans-serif;
$prime-color: #143A83;
$hover-color: #164AAD;
$text-color: #2C2B2B;
$sec-color: #C83138;
$sec-hover-color: #AE252C;
$blue-text: #184070;
$mobile-width: 786px;

//Дефолтные стили

body {
  font-family: $regular-font !important;
  color: $text-color;
  font-weight: 300 !important;
  line-height: 1.3 !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  overflow-x: hidden;
}

main {
  flex: 1 1 auto;
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  appearance: none;
  background-color: #fff;
}

@media (min-width: 1200px), (min-width: 1400px) {
  .container {
    max-width: 1150px !important;
  }
}

@media (max-width: $mobile-width) {
  body {
    font-size: 14px !important;
  }
}