.button {
  @include no-btn();
  background: #1B5AA3;
  border-radius: 5px;
  align-items: center;
  padding: 11px 40px;
  font-weight: 500;
  color: #fff;
  @include transit();

  &:hover,
  &:focus {
    background: #1B5AA3;
    box-shadow: 3px 6px 10px rgba(71, 133, 244, 0.3);
    color: #fff;
  }
}

.button--sec {
  @include no-btn();
  color: #1B5AA3;
  font-weight: 500;
  padding: 11px 52px;
  text-align: center;
  border: 1px solid #1B5AA3;
  border-radius: 5px;
  transition: 0.3s;

  &:hover,
  &:focus {
    border-color: #4A8FE0;
    background: #4A8FE0;
    color: #fff;
  }
}

.button--red {
  padding: 11px 37px;
  background: $sec-color;

  &:hover,
  &:focus,
  &:active {
    background: #AE252C;
    box-shadow: none;
  }
}

.load-button {
  @include no-btn();
  background: #F0F4FC;
  border-radius: 3px;
  align-items: center;
  padding: 14px 48px;
  font-weight: 600;
  font-size: 14px;
  color: #4A8FE0;
  @include transit();

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url('../img/load.svg') no-repeat center/contain;
  }

  &:hover,
  &:focus {
    background-color: #1B5AA3;
    box-shadow: 3px 6px 10px rgba(71, 133, 244, 0.3);
    color: #fff;
  }
}

.button--callback {
  padding: 19px 15px 19px 63px;
  background-color: #4A8FE0;
  background-position: left 8px center;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 230px;

  &.callicon {
    background-image: url('../img/call.svg');
  }

  &.chaticon {
    background-image: url('../img/viber-light.svg');
  }

  &:hover,
  &:focus {
    background-position: left 8px center;
    background-repeat: no-repeat;
  }
}

.button--filter {
  padding: 7px 22px;
  color: #184070;
  background: rgba(91, 153, 226, 0.54);

  &:hover,
  &:focus {
    background: #184070;
    color: #5b99e2;
  }
}

.button--add {
  padding: 5px 14px;
  background: transparent;
  color: #9fc1e7;
  border: 1px solid #9fc1e7;
  font-weight: 400;
  font-size: 12px;

  &:hover .button--add-icon svg,
  &:focus .button--add-icon svg {
    fill: #fff;
  }
}

.button--add-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 10px;

  & svg {
    fill: #9fc1e7;
    vertical-align: baseline;
  }
}

.button--cart {
  padding: 12px 25px;
  font-size: 15px;

  & img {
    margin-left: 5px;
  }
}

.button--del {
  @include no-btn();
  font-weight: 500;
  font-size: 14px;
  padding: 11px 40px;
  border: 1px solid #C83138;
  color: #C83138;
  border-radius: 5px;
  transition: 0.3s;

  &:hover,
  &:focus {
    background: #BD373D;
    color: #fff;
  }
}

.arrow {
  line-height: 1.1;
}

.arrow::after {
  content: "\279C";
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: $mobile-width) {
  .load-button {
    padding: 12px 35px;
    font-size: 13px;

    .load-button::before {
      width: 25px;
      height: 25px;
    }
  }

  .button--add {
    font-size: 10px;
  }

  .button--add-icon {
    font-size: 14px;
    margin-right: 5px;
    background-size: contain;
  }
  
  .button--del {
    font-size: 12px;
    padding: 5px 29px;
  }
}