.button {
  @include no-btn();
  background: #1B5AA3;
  border-radius: 5px;
  align-items: center;
  padding: 6px 52px;
  font-weight: 500;
  color: #fff;
  @include transit();

  &:hover,
  &:focus {
    background: #1B5AA3;
    box-shadow: 3px 6px 10px rgba(71, 133, 244, 0.3);
    color: #fff;
  }
}

.button--red {
  padding: 11px 37px;
  background: $sec-color;

  &:hover,
  &:focus,
  &:active {
    background: #AE252C;
    box-shadow: none;
  }
}

.load-button {
  @include no-btn();
  background: #F0F4FC;
  border-radius: 3px;
  align-items: center;
  padding: 14px 48px;
  font-weight: 600;
  font-size: 14px;
  color: #4A8FE0;
  @include transit();

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url('../img/load.svg') no-repeat center/contain;
  }

  &:hover,
  &:focus {
    background-color: #1B5AA3;
    box-shadow: 3px 6px 10px rgba(71, 133, 244, 0.3);
    color: #fff;
  }
}

.button--callback {
  padding: 19px 15px 19px 63px;
  background-color: #4A8FE0;
  background-position: left 8px center;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 230px;

  &.callicon {
    background-image: url('../img/call.svg');
  }

  &.chaticon {
    background-image: url('../img/viber-light.svg');
  }

  &:hover,
  &:focus {
    background-position: left 8px center;
    background-repeat: no-repeat;
  }
}

.arrow {
  line-height: 1.1;
}

.arrow::after {
  content: "\279C";
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: $mobile-width) {
  .load-button {
    padding: 12px 35px;
    font-size: 13px;

    .load-button::before {
      width: 25px;
      height: 25px;
    }
  }
}