.calc {
  background: #F6F6F6 url('../img/calc-bg.svg') no-repeat center/100% auto;
  padding: 45px 0 80px;
}

.calc__block {
  text-align: center;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;

  & .tab-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(7, 17, 27, 0.15);
    border-radius: 0px 0px 10px 10px;
    padding: 38px;
  }

  & .map {
    justify-content: space-between;
  }
}

.calc__text {
  font-weight: 400;
  font-size: 16px;
  color: #10427D;
  margin-bottom: 27px;
}

.calc__select,
.calc__input {
  border: 1px solid rgba(112, 170, 239, 0.38);
  border-radius: 5px;
  width: 185px;
  padding: 11px 24px;
}

.calc__item {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 20px 20px;
}

.calc__label {
  font-weight: 400;
  font-size: 15px;
  color: #7E7E7E;
  margin-bottom: 12px;
  display: block;
  text-align: left;
}

.calc__results {
  margin: 30px auto 30px;
  background: #C83138;
  border: 1px solid rgba(112, 170, 239, 0.38);
  border-radius: 5px;
  max-width: 410px;
  padding: 14px;
  color: #fff;
}

.calc__result {
  font-weight: 700;
  font-size: 20px;
}

.calc__link {
  font-weight: 600;
  color: #C83138;
}

.calc__tech-form .calc__input {
  width: 360px;
  max-width: 100%;
  clear: both;
}

.calc__tech-form {
  width: 615px;
  max-width: 100%;
  margin: 0 auto;
}

.calc__tech-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 17px;
}

.calc__diomand-form .calc__tech-item {
  width: 495px;
  max-width: 100%;
  margin: 0 auto 17px;
  justify-content: flex-start;
  align-items: center;

  & > div,
  & .button--red {
    margin-right: 5%;
  }
}

.calc__clock-form {
  text-align: left;

  & .calc__tech-item {
    justify-content: flex-start;
    align-items: center;

    & > div,
    & .button--red {
      margin-right: 5%;
    }
  }
}

.calc__input--long {
  width: 275px;
  margin-right: 2.5%;
}

.calc__tech-result {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 30px;
  border: 1px solid #70AAEF;
  border-radius: 5px;
}

.text-mute {
  color: #7E7E7E;
  font-size: 12px;
  margin-left: 10px;
}

.rating { 
  border: none;
  float: left;
  margin-bottom: 13px;
}

.calc__clock-form .rating {
  margin-top: 12px;
}

.rating-name {
  font-weight: 400;
  font-size: 15px;
  color: #7E7E7E;
  margin-bottom: 8px;
  text-align: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 25px;
  line-height: 1;
  display: inline-block;
  content: "\2605";
}

.rating > label { 
  color: #fff;
  -webkit-text-stroke: 1px #0D4689;
  -ms-text-shadow: -1px -1px 0 #0D4689, 1px -1px 0 #0D4689, -1px 1px 0 #0D4689, 1px 1px 0 #0D4689;
  float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {     
  color: #0D4689; 
} 

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label {   
  color: #0D4689;  
} 

.calc__star-result {
  margin-bottom: 19px;
  color: #7E7E7E;
  clear: both;
  width: 360px;
  max-width: 100%;

  & span {
    color: #0D4689;
    font-weight: 600;
    padding-right: 15px;
  }
}

.calc .button--red {
  padding: 11px 52px;
  box-shadow: 2px 4px 10px 1px rgba(232, 30, 40, 0.16);
}

.calc__clock-download {
  float: right;
  margin-top: -125px;
}

.calc__clock-file--psevdo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 84px;
  height: 74px;
  margin-right: 12px;
  border-radius: 5px;
  opacity: 1;
  background: #fff url('../img/plus.svg') no-repeat center;
  border: 1px dashed rgba(112, 170, 239, 0.9);
}

.calc__clock-file {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 84px;
  height: 74px;
  opacity: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .calc__block .nav-item {
    width: 33%;
    margin-bottom: 7px;
  }
  .calc__block .map .nav-link {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .calc__text {
    font-size: 14px;
  }

  .calc__block .nav-item {
    width: 100%;

    & .nav-link {
      border-radius: 2px 2px 0px 0px;
      font-size: 14px;
    }
  }

  .calc__label {
    font-weight: 400;
    font-size: 12px;
  }

  .calc__item {
    width: 100%;
    margin: 0 0 10px;
  }

  .calc__tech-item {
    width: 100%;
    display: block;

    & input,
    & select,
    & .calc__input,
    & .calc__star-result.calc__input {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }

  .text-mute {
    font-size: 11px;
    margin: -8px 0 10px;
    text-align: left;
  }

  .calc__clock-form .text-mute {
    margin-top: 0;
  }

  .calc__input, .calc__select {
    width: 100%;
    padding: 8px 15px;
    font-size: 13px;
  }

  .calc__results {
    margin: 15px auto;
    width: 100%;
    font-size: 12px;
  }

  .calc__result {
    font-size: 14px;
  }

  .calc__tech-result {
    font-size: 12px;
  }

  .calc__clock-download {
    float: none;
    margin: 10px 0;
  }

  .calc__link {
    font-size: 13px;
  }

  .calc__block .tab-content {
    padding: 25px;
  }
}