.cart__table {
  width: 100%;
}

.cart__title  {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #5C5C5C;
}

.cart__title--blue {
  color: $prime-color;
}

.cart__title--red {
  color: $sec-color;
}