.catalog-new {
  background-color: #F6F6F6;
  padding: 40px 0 48px;
  justify-content: space-between;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;

  &:hover,
  &:focus {
    box-shadow: 0px 5px 10px 2px rgba(34, 74, 120, 0.21);
  }
}

.catalog-item {
  background: #FFFEFE;
  border: 1px solid rgba(13, 70, 137, 0.14);
  border-radius: 5px;
  width: 213px;
  margin-bottom: 25px;
  margin-left: 10px;
  padding: 15px 14px 20px;
}

.catalog-item__disc {
  font-weight: 300;
  font-size: 11px;
  margin-bottom: 13px;
}

.catalog-item__name {
  font-weight: 600;
  font-size: 12px;
  color: #2C2B2B;
}

.catalog-item__price {
  margin-bottom: 22px;
}

.catalog-item__value {
  vertical-align: middle;
  padding-left: 44px;
  font-weight: 600;
  font-size: 20px;
  color: #1063C4;
}

.catalog-item__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catalog-item__button {
  font-size: 14px;
  background: #274784;
  margin-bottom: 10px;
}

.catalog-item__link {
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid;
  color: $sec-color;
}

.catalog-new__link {
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  color: #1157A9;
}

@media (max-width: 1200px) {
  .catalog-new .catalog-item:last-of-type {
    display: none;
  }
}

@media (max-width: 992px) {
  .catalog-new .catalog-item:last-of-type {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .catalog-new {
    padding: 30px 0 24px;
  }

  .catalog-item {
    width: 137px;
    margin-bottom: 20px;
  }

  .catalog-item__img {
    max-height: 93px;
    width: auto;
  }

  .catalog-item__name {
    font-size: 10px;
  }
  
  .catalog-item__disc {
    font-weight: 400;
    font-size: 8px;
  }

  .catalog-item__value {
    padding-left: 9px;
    font-weight: 500;
    font-size: 15px;
  }

  .catalog-item__button {
    font-size: 10px;
    padding: 5px 27px;
    background: #274784;
    margin-bottom: 5px;
  }

  .catalog-item__link {
    font-weight: 600;
    font-size: 9px;
  }

  .catalog-new__link {
    font-size: 10px;
  }
}