.contacts {
  padding-top: 70px;
}

.page .contacts {
  padding-top: 0;
}

.contacts__search {
  float: right;
  width: 365px;
  margin-top: 84px;

  & input {
    padding-left: 54px;
    border: 1px solid rgba(39, 108, 189, 0.2);
    border-radius: 5px;
    background: #fff url('../../img/search.svg') no-repeat left 5px center;
  }

  & .button {
    background-image: url(../../img/search-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    padding: 7px 20px;
  }
}

.page .contacts__search {
  margin-top: 0;
}

.contacts__map {
  width: 100%;
  height: auto;
}

.map.nav-pills {
  margin-bottom: 0;
}

.map .nav-link {
  background: #0E417D;
  border-radius: 5px 5px 0px 0px;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  padding: 15px 17px;
  min-width: 136px;
  margin-right: 2px;

  &.active {
    font-weight: 600;
    background: #5EA5F8;
  }
}

.cantacts__list .contacts__btn {
  margin: 39px 0 15px;
  text-align: center;
}

@media (max-width: $mobile-width) {
  .contacts__search {
    float: none;
    margin: 0 0 30px;
    max-width: 100%;
  }

  .shop-item {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}