.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

.scroll .navbar {
  background: #F0F4FC;
  padding: 0;
  box-shadow: 0px 3px 7px rgba(29, 97, 177, 0.17);
}

.scroll .navbar-brand {
  padding: 0;
}

.lang {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $sec-color;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 9px 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $sec-hover-color;
  }
}

.nav-search {
  position: relative;
  width: 278px;

   & input[type="search"] {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid rgba(39, 108, 189, 0.2);
      border-radius: 5px;
      margin-right: 0;
      padding-left: 35px;
   }
}

.btn-search {
  @include no-btn();
  font-size: 0;
  width: 26px;
  height: 26px;
  background: url('../img/search.svg') no-repeat center/contain;
  position: absolute;
  top: 6px;
  left: 5px;
}

.nav-buttons {
  display: flex;
}

.nav-button {
    width: 38px;
    height: 38px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $prime-color;
    border-radius: 3px;
    font-size: 0;
    margin-right: 22px;
    cursor: pointer;

    &::after {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      color: #000;
      width: 22px;
      height: 22px;
      background: #E0E1FF;
      border: 1px solid #C6DBF3;
      border-radius: 50%;
      text-align: center;
      padding: 1px 0;
      position: absolute;
      bottom: -10px;
      right: -10px;
      z-index: 2;
  }

  &.enter {
    background-image: url('../img/user.svg');
  }

  &.cart {
    background-color: $sec-color;
    background-image: url('../img/shopping.svg');

    &::after {
      content: "2";
    }
  }

  &.like-list {
    background-image: url('../img/heart.svg');

    &::after {
      content: "5";
    }
  }
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.nav-contacts__button {
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: linear-gradient(90deg, rgba(112, 170, 239, 0.2) 0%, rgba(112, 170, 239, 0.07) 107.77%);
  color: #1063C3;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  display: none;
  padding: 16px 30px;
  text-transform: uppercase;
  transition: 0.3s;

  &::after {
    content: "";
    width: 18px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/arrow.svg') no-repeat center/contain;
    transform: rotate(-90deg);
    margin-left: 10px;
    transition: 0.3s;
  }
}

.scroll .nav-contacts__button {
  display: inline-block;
}

.scroll.show .nav-contacts__button::after {
  transform: rotate(0);
}

.tel {
  font-weight: 600;
  font-size: 18px;
  color: $prime-color;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/tel.svg') no-repeat center/contain;
    margin-right: 12px;
  }
}

.social a {
  margin-left: 5px;
}

.scroll .tel,
.scroll .social {
  display: none;
}

@media (max-width: 991px) {
  .header {
    padding: 15px 0;

    & .navbar-brand {
      width: 68px;
    }
  }

  .nav-button {
    width: 25px;
    height: 25px;
    background-size: 16px;
  }
  
  .header .close {
    display: none;
  }

  .header .navbar {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 720px;
    margin: 0 auto;

    & > div {
      width: auto;
      background: transparent;
      margin: 0;
    }

    & .nav-contacts {
      width: auto;
    }
  }

  .header.scroll {
    background: #fff;
    box-shadow: 0px 3px 7px rgba(29, 97, 177, 0.17);

    & .navbar {
      background: transparent;
      padding: 0;
      box-shadow: none;
    }

    & .main-menu {
      display: block;
      padding: 0;
    }

    & .nav-search {
      margin-top: 0;
    }
  }

  .main-menu {
    width: auto;
    order: -1;
    margin-top: 0!important;

    & .navbar-toggler {
      background: url('../img/menu.svg') no-repeat center;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .navbar.show {

    & .tel.show {
      display: inline-block !important;
      font-size: 12px;
      margin-top: 10px;
      width: 50vw;

      &::before {
        width: 11px;
        height: 13px;
        margin-right: 6px;
      }
    }

    & > div {
      width: 100%;
      margin: 0 auto;
    }

    & .main-menu {
      order: 2;

      & .container {
        position: relative;
      }
    }

    & .nav-search {
      display: none !important;
    }

    & .nav-buttons {
      flex: 1 1 70%;
      justify-content: center;

      ::after {
        font-size: 9px;
        width: 16px;
        height: 16px;
        bottom: -8px;
        right: -8px;
      }
    }

    & .navbar-toggler {
      position: absolute;
      top: -82px;
      right: 0;
      background: url(../img/close-red.svg) center no-repeat;
      background-size: 18px;
      z-index: 2;
    }

    & .lang {
      order: 2;
      font-size: 12px;
      width: 26px;
      height: 26px;
      padding: 5px 0;
      margin-top: 10px;
    }

    & .nav-contacts {
      order: 1;
    }
  }
}

@media (max-width: $mobile-width) {
  .nav-search {
    width: 200px;
  }
}