.main-menu {
  background: #F0F4FC;
  width: 100%;
}

.main-menu .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.main-menu .nav-link {
  padding: 0;
  font-weight: 600;
  font-size: 17px;
  padding: 18px 0 14px;
  text-transform: uppercase;
  color: $prime-color;
  border-bottom: 4px solid transparent;
  transition: 0.3s;

  &:hover,
  &:focus,
  &.acive {
    color: #1672DE;
    border-color: $sec-color;
  }
}

.main-menu .dropdown-toggle::after {
  width: 13px;
  height: 7px;
  border: none;
  background: url(../img/arrow.svg) no-repeat center/contain;
  vertical-align: middle;
}

.main-menu .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0px 10px 18px rgba(81, 125, 209, 0.18);
  min-width: 224px;
}

.main-menu .dropdown-item {
  margin: 0 15px;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  font-weight: 300;
  font-size: 17px;
  color: $prime-color;
  border-bottom: 1px solid rgba(54, 131, 222, 0.13);
  white-space: normal;

  &:hover,
  &:focus {
    font-weight: 600;
    background-color: transparent;

    &::before {
      content: "";
      width: 5px;
      height: 20px;
      background-color: $prime-color;
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

.main-menu li:last-of-type .dropdown-item {
  border: none;
}

.scroll .main-menu {
  display: none;
}

.scroll.show .main-menu {
  display: block;
}