.no-page {
  background: #082E78 url('../../img/no-page-bg.webp') no-repeat center/cover;
  color: #fff;
}

.no-page__body {
  text-align: center;
  font-weight: 400;
  font-size: 20px;

  & h1 {
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    margin-top: 90px;
  }

  & img {
    margin-bottom: 95px;
  }

  & a {
    font-weight: 600;
    color: #78B6FF;
  }
}

@media (max-width: $mobile-width) {
  .no-page header img {
    max-width: 94px;
  }

  .no-page__body h1 {
    font-size: 20px;
    margin-top: 65px;
  }

  .no-page__body {
    font-size: 16px;
  }

  .no-page__body img {
    margin-bottom: 60px;
  }
}