.oplata__accent {
  width: 949px;
  background: #274784 url('../../img/checklist.webp') no-repeat left 24px center;
  border-radius: 5px;
  padding: 45px 24px 45px 130px;
  margin: 0 auto 70px;

  & p {
    color: #fff;
    padding-left: 20px;
    border-left: 2px solid $sec-color;
  }
}

.oplata__title {
  font-weight: 600;
  font-size: 24px;
  color: $prime-color;
  text-align: center;
  margin-bottom: 40px;
}

.oplata__block {
  justify-content: space-evenly;
  margin-bottom: 67px;
}

.oplata__item {
  border: 1px solid rgba(91, 153, 226, 0.31);
  border-radius: 0px 25px 25px 0px;
  padding: 22px 10px 15px 130px;
  max-width: 100%;
  margin-bottom: 30px;
}

.oplata__item--sam {
  background: #DDE9FE url('../../img/samovyviz.webp') no-repeat left 10px center;
  box-shadow: 4px 6px 10px rgba(160, 171, 185, 0.13);
  width: 328px;
}

.oplata__item--np {
  background: #fff url('../../img/nova-poshta.webp') no-repeat left 10px bottom 30px;
  width: 690px;
}

.oplata__item-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    background: #4A8FE0;
    border-radius: 2px;
  }
}

.dostavka{
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-image: url('../../img/pay-bg-right.svg'), url('../../img/pay-bg.svg');
  background-position: top right, bottom left;
  padding: 37px 0 70px;
}

.dostavka__block {
  justify-content: space-evenly;
}

.dostavka__item {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top 10px right 10px;
  background-size: 55px 55px;
  border: 1px solid rgba(140, 190, 250, 0.72);
  border-radius: 0px 10px 10px 0px;
  padding: 27px 24px 35px;
  transition: 0.3s;
  width: 300px;
  margin-bottom: 30px;

  &:nth-of-type(1) {
    background-image: url(../../img/credit-card.webp);
  }

  &:nth-of-type(2) {
    background-image: url(../../img/wallet.webp);
  }

  &:nth-of-type(3) {
    background-image: url(../../img/credit.webp);
  }

  &:hover,
  &:focus,
  &.active {
    background-color: #0D4689;
    border: 1px solid rgba(91, 153, 226, 0.31);
    box-shadow: 4px 6px 10px rgba(17, 31, 47, 0.2);
    color: #fff;

    & h3 {
      color: #fff;
    }
  }

  & h3 {
    font-weight: 600;
    font-size: 20px;
    color: $prime-color;
    margin-bottom: 20px;
    margin-right: 45px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      background: $sec-color;
      border-radius: 2px;
    }
  }

  & p {
    margin-bottom: 10px;
  }
}