.catalog-sell {
  margin: 70px 0 35px;
}

.catalog-sell__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-sell__banner {
  border-radius: 10px;
}

.catalog-sell__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 700px;
}

.catalog-sell__item {
  width: 212px;
  background: #FFFEFE;
  border: 1px solid rgba(13, 70, 137, 0.14);
  box-shadow: 0px 4px 8px rgba(105, 161, 226, 0.09);
  border-radius: 5px;
  padding: 16px 16px 26px;
  margin-bottom: 35px;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 15px rgba(105, 161, 226, 0.22);
  }
}

.catalog-sell__item--all {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.catalog__btns {
  text-align: right;
  margin-bottom: 22px;
}

.catalog__btns button {
  @include no-btn();

  & svg {
    width: 21px;
    height: 23px;
    fill: rgba(180, 180, 180, 0.45);
    transition: 0.3s;
  }

  &:hover svg,
  &.active svg {
    fill: #4A8FE0;
  }
}

.catalog-sell__img,
.catalog-item__img {
  display: block;
  margin: 0 auto 17px;
  max-width: 100%;
  height: auto;
}

.catalog-sell__title {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 12px;

  & a {
    color: $text-color;
    text-decoration: none;
  }
}

.catalog-sell__percent {
  background: $sec-color;
  border-radius: 0 4px 4px 0;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  padding: 6px 12px;
  margin-left: -16px;
  margin-bottom: 10px;
  display: inline-block;
}

.catalog-sell__price {
  position: relative;

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}

.catalog-sell__name {
  font-weight: 600;
  font-size: 13px;
  margin-right: 22px;
}

.catalog-sell__value {
  font-weight: 600;
  font-size: 18px;
  color: $sec-color;
}

.catalog-sell__oldprice {
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  color: #9E9E9E;
  position: absolute;
  top: -17px;
  right: 0;
}

.catalog-sell__link {
  width: 140px;
  font-size: 18px;
  font-weight: 400;
  color: #1157A9;
  line-height: 1.1;
}

@media (max-width: 1200px) {
  .catalog-sell__list {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .catalog-sell__banner {
    display: none;
  }

  .catalog-sell__list {
    max-width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .catalog-sell__item {
    width: 142px;
    padding-bottom: 15px;
  }

  .catalog__btns {
    margin-bottom: 12px;
  }

  .catalog__btns button svg {
    width: 14px;
    height: 14px;
  }

  .catalog-sell__title {
    font-size: 10px;
  }

  .catalog-sell__percent {
    font-size: 12px;
    padding: 4px 8px;
  }

  .catalog-sell__name {
    font-size: 10px;
    margin-right: 6px;
  }

  .catalog-sell__value {
    font-size: 13px;
  }

  .catalog-sell__oldprice {
    font-size: 10px;
  }

  .catalog-sell__link {
    width: 110px;
    font-size: 12px;
  }

  .arrow::after {
    font-size: 14px;
    line-height: 1;
  }
}