.shop-item {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(29, 97, 177, 0.21);
  border-bottom: 1px solid rgba(29, 97, 177, 0.21);
  margin-bottom: -1px;
  padding: 25px 0 19px;
}

.shop-item__data {
  flex: 1 1 auto;
  padding-left: 65px;
  background: url(../../img/locacia.svg) no-repeat top 10px left 36px;
}

.shop-item__adres {
  font-weight: 600;
  color: $prime-color;
  line-height: 1;
  margin-bottom: 30px;
}

.shop-item__tel {
  font-weight: 600;
  color: #767676;
  padding-left: 30px;
  background: url('../../img/tel.svg') no-repeat left center;
}

.shop-item__time {
  font-size: 14px;
  line-height: 1;
  color: #9B9090;
}

.shop-item__link {
  align-self: end;
  font-weight: 400;
  font-style: italic;
  color: #1D61B1;
}