.shop-item {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(29, 97, 177, 0.21);
  border-bottom: 1px solid rgba(29, 97, 177, 0.21);
  margin-bottom: -1px;
  padding: 25px 0 19px;

  & a {
    text-decoration: none;
  }
}

.shop-item__data {
  flex: 1 1 auto;
  padding-left: 65px;
  background: url(../../img/locacia.svg) no-repeat top 10px left 36px;
}

.shop-item__city {
  color: #000;
  font-weight: 400;
}

.shop-item__adres {
  font-weight: 600;
  color: $prime-color;
  line-height: 1;
  margin-bottom: 30px;
}

.shop-item__tel {
  font-weight: 600;
  color: #767676;
  padding-left: 30px;
  background: url('../../img/tel.svg') no-repeat left center;
}

.shop-item__time {
  font-size: 14px;
  line-height: 1;
  color: #9B9090;
}

.shop-item__link {
  align-self: end;
  font-weight: 400;
  font-style: italic;
  color: #1D61B1;
}

@media (max-width: $mobile-width) {
  .shop-item {
    display: block;
    padding: 20px 0 30px;
  }

  .shop-item__img {
    display: inline-block;
    margin-right: 1%;
    max-width: 49%;
  }

  .shop-item__data {
    display: inline-block;
    max-width: 48%;
    padding-left: 20px;
    background-size: 20px auto;
    background-position: top 2px left;
  }

  .shop-item__city {
    font-size: 13px;
  }

  .shop-item__adres {
    font-size: 11px;
    margin-bottom: 13px;
  }

  .shop-item__tel {
    font-size: 12px;
    background-size: contain;
    padding-left: 20px;
  }

  .shop-item__time {
    font-size: 11px;
  }

  .shop-item__link {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    float: right;
    margin-top: -20px;

    & a {
      font-size: 9px;
      color: $sec-color;
    }
  }
}