.vacancy__accent {
  background-color: #274784;
  background-image: url('../img/vac-bg.svg'), url('../img/bg-vac.png');
  background-repeat: no-repeat;
  background-position: right bottom, center bottom -9px;
  background-size: 100% auto, auto 100%;
  padding: 56px 0 80px;
  margin-bottom: 60px;
}

.vacancy__accent-title {
  width: 457px;
  max-width: 100%;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin-bottom: 18px;
}

.vacancy__accent-text {
  font-weight: 400;
  font-size: 20px;
  color: #6FB0FC;
  margin-bottom: 68px;
}

.vacancy__title {
  font-weight: 600;
  font-size: 24px;
  font-weight: 600;
  color: $prime-color;
  margin-bottom: 40px;
  text-align: center;
}

.vacancy__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.vacancy__item {
  border: 1px solid rgba(140, 190, 250, 0.72);
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 115px;
  background-repeat: no-repeat;
  background-position: left 24px center;
  background-size: 70px;
  min-height: 156px;
  width: 352px;
  max-width: 100%;
  margin-bottom: 30px;
  transition: 0.3s;

  &:nth-child(1) {
    background-image: url('../img/learning.png');
  }

  &:nth-child(2) {
    background-image: url('../img/podium.png');
  }

  &:nth-child(3) {
    background-image: url('../img/road-map.png');
  }

  &:nth-child(4) {
    background-image: url('../img/growth.png');
  }

  &:nth-child(5) {
    background-image: url('../img/portfolio.png');
  }

  &:nth-child(6) {
    background-image: url('../img/discounts.png');
  }

  &:hover,
  &:focus {
    background-color: #DDE9FE;
    border: 1px solid rgba(91, 153, 226, 0.31);
    box-shadow: 4px 6px 10px rgba(160, 171, 185, 0.13);
  }
}

.vacancy__block {
  background: rgba(248, 248, 248, 0.79);
  border-radius: 7px;
  padding: 11px 50px 40px 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.vacancy__date {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  color: #7E7E7E;
  margin-bottom: 10px;
}

.vacancy__name {
  position: relative;

  & h3 {
    font-weight: 600;
    font-size: 16px;
    color: #000;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #E4253C;
      border-radius: 2px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  & .vacancy__link {
    @include no-btn();
    position: absolute;
    bottom: -23px;
    left: 18px;
    color: #1157A9;
    font-weight: 400;
    font-size: 12px;

    &::after {
      content: "";
      width: 11px;
      height: 10px;
      display: inline-block;
      background: url(../img/arrow.svg) center/contain no-repeat;
      vertical-align: middle;
      margin-left: 8px;
    }
  }
}

.vacancy__adres {
  font-style: italic;
  font-weight: 400;
  color: #1D61B1;
  flex: 1 1 auto;
  margin-left: 8%;
}

.vacancy__body  {
  margin-top: 50px;
  padding: 0 18px;

  & p, 
  & ul {
    margin-bottom: 20px;
  }

  & .accent {
    font-weight: 500;
    font-size: 16px;
    color: #184070;
    margin-bottom: 30px;
  }
}

.vacancy__body .list-title {
  font-weight: 600;
  font-size: 16px;
  color: #1063C4;
  margin-bottom: 8px;
}

.vacancy__list {
  list-style: none;
  padding-left: 0;

  & li {
    margin-bottom: 5px;

    &::before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      background: rgba(13, 70, 137, 0.8);
      margin-right: 9px;
      transform: rotate(-45deg);
      vertical-align: middle;
    }
  }
}

.vacancy__btn .button {
  box-shadow: 3px 6px 10px rgba(71, 133, 244, 0.3);
  padding: 6px 10px;
}

.vacancy__all {
  color: #1157A9;
  font-weight: 400;
  font-size: 18px;
}

//Modal
.modal {
  z-index: 100001;
}

.modal-dialog {
  width: 900px;
  max-width: 100%;
}

.modal-content {
  border: none;
}

.modal-header {
  border: none;
}

.modal-text {
  font-weight: 400;
  font-size: 18px;
  width: 699px;
  max-width: 100%;
  margin: 0 auto 30px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form__item {
  width: 48%;
  margin-bottom: 10px;

  & label {
    color: #4F597C;
    margin-bottom: 7px;
    font-weight: 400;
  }

  & input,
  & .input-text {
    width: 100%;
    height: 39px;
    border: 1px solid rgba(112, 170, 239, 0.38);
    border-radius: 5px;
    padding: 10px 20px;

    &::placeholder {
      color: rgba(44, 43, 43, 0.5);
      font-size: 14px;
    }
  }
}

.modal-form__item--file label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: $sec-color;
  margin-right: 10px;
  vertical-align: middle;
}

.modal-form__item--file {
  position: relative;

  & input {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  & .input-text {
    background: url('../img/download-input.svg') no-repeat right 10px center;
  }
}

.modal-form__button {
  margin: 30px auto;
}

@media (max-width: 1200px) {
  .vacancy__item {
    width: 300px;
    padding-left: 86px;
    background-position: left 7px center;
  }
}

@media (max-width: 992px) {
  .vacancy__accent {
    background-position: right bottom,right bottom -9px;
  }

  .vacancy__items {
    justify-content: space-evenly;
  }

  .vacancy__adres {
    margin-left: 3%;
  }

  .vacancy__name h3 {
    width: 200px;
  }
}

@media (max-width: $mobile-width) {
  .vacancy__accent {
    background: #274784 url('../img/bg-vac-m.png') no-repeat right -72px bottom -11px /auto 430px;
  }
  .vacancy__accent-title {
    font-size: 20px;
    padding-right: 32%;
    margin-bottom: 16px;
  }

  .vacancy__accent-text {
    font-size: 18px;
    margin-bottom: 210px;
  }

  .vacancy__item {
    background-size: 50px;
    padding-left: 67px;
    margin-bottom: 20px;
  }

  .vacancy__block {
    padding: 11px 15px 40px;
  }

  .vacancy__name h3 {
    font-size: 14px;
    min-height: 34px;
    width: 100%;
  }

  .vacancy__name .vacancy__link {
    bottom: -61px;
    left: 0;
    font-size: 11px;

    &::after {
      margin-left: 4px;
    }
  }

  .vacancy__adres {
    margin-left: 0;
    width: 100%;
    margin: 10px 0;
  }

  .vacancy__body {
    padding: 0;
  }

  .vacancy__body .list-title {
    font-size: 14px;
  }

  .vacancy__body .accent {
    text-align: center;
    font-size: 13px;
  }

  .vacancy__btn {
    width: 100%;
    text-align: right;
  }

  .modal-dialog {
    width: auto;
  }

  .modal-content img {
    max-width: 60px;
  }

  .modal-text {
    font-size: 13px;
  }

  .modal-form__item {
    width: 100%;
  }

  .vacancy__all {
    margin-bottom: 20px;
  }
}