.ring {
  background: rgba(129, 153, 238, 0.3) url('../../img/ad-bg.webp') no-repeat center/cover;
  backdrop-filter: blur(10px);
  padding: 60px 0;
}

.ring__title {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  max-width: 514px;
  margin: 0 auto 30px;

  & .accent {
    color: $sec-color;
    font-weight: 700;
  }
}

.ring__text {
  font-weight: 300;
  font-size: 18px;
  max-width: 670px;
  text-align: center;
  color: #fff;
  margin: 0 auto 30px;
}

.ring__banner img {
  display: inline-block;
  margin: 0 auto;
}