<div class="order__data">
  <h2 class="order__subtitle">Ваше замовлення:</h2>
  <a href="cart.html" class="order__back">Редагувати </a>
  <div class="order__data-item">
    <a href="card.html" class="order__img">
      <img src="img/pech-1.webp" alt="Мікрохвильова піч Samsung  22Y3"  width="46" height="37">
    </a>
    <div class="order__data-info">
      <h4 class="order__data-title"><a href="card.html">Мікрохвильова піч Samsung  22Y3</a></h4>
      <p class="order__data-article">Артикул: 06780645КК</p>
    </div>
    <div class="order__price">
      3399 грн.
    </div>
  </div>
  <div class="order__data-item">
    <a href="card.html" class="order__img">
      <img src="img/pech-1.webp" alt="Мікрохвильова піч Samsung  22Y3"  width="46" height="37">
    </a>
    <div class="order__data-info">
      <h4 class="order__data-title"><a href="card.html">Мікрохвильова піч Samsung  22Y3</a></h4>
      <p class="order__data-article">Артикул: 06780645КК</p>
    </div>
    <div class="order__price">
      3399 грн.
    </div>
  </div>
  <div class="order__total">
    <p>Всього до сплати: <span class="accent">6 798 грн.</span></p>
  </div>
</div>