<div class="nav-side">
  <h4>КАталог товарів</h4>
  <ul class="nav flex-column">
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle accent" data-bs-toggle="dropdown" href="gold.html" role="button" aria-expanded="false">Золото</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="rings.html">Обручки</a></li>
        <li><a class="dropdown-item" href="#">Сережки</a></li>
        <li><a class="dropdown-item" href="#">Ланцюжки</a></li>
        <li><a class="dropdown-item" href="#">Кулони та 
          підвіски</a></li>
        <li><a class="dropdown-item" href="#">Хрестики</a></li>
        <li><a class="dropdown-item" href="#">Браслети</a></li>
        <li><a class="dropdown-item" href="#">Годинники</a></li>
        <li><a class="dropdown-item" href="#">Інше</a></li>
        <li><a class="dropdown-item other" href="gold.html">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Срібло</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Обручки</a></li>
        <li><a class="dropdown-item" href="#">Сережки</a></li>
        <li><a class="dropdown-item" href="#">Ланцюжки</a></li>
        <li><a class="dropdown-item" href="#">Кулони та 
          підвіски</a></li>
        <li><a class="dropdown-item" href="#">Хрестики</a></li>
        <li><a class="dropdown-item" href="#">Браслети</a></li>
        <li><a class="dropdown-item" href="#">Годинники</a></li>
        <li><a class="dropdown-item" href="#">Інше</a></li>
        <li><a class="dropdown-item other" href="#">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Вироби з діамантами</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Обручки</a></li>
        <li><a class="dropdown-item" href="#">Сережки</a></li>
        <li><a class="dropdown-item" href="#">Ланцюжки</a></li>
        <li><a class="dropdown-item" href="#">Кулони та 
          підвіски</a></li>
        <li><a class="dropdown-item" href="#">Хрестики</a></li>
        <li><a class="dropdown-item" href="#">Браслети</a></li>
        <li><a class="dropdown-item" href="#">Годинники</a></li>
        <li><a class="dropdown-item" href="#">Інше</a></li>
        <li><a class="dropdown-item other" href="#">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Комп’ютерна техніка</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        <li><a class="dropdown-item other" href="#">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Телевізори, аудіо, фото, відео</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        <li><a class="dropdown-item other" href="#">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Електроінструмент</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        <li><a class="dropdown-item other" href="#">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item dropend">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="pobutova-tehnika.html" role="button" aria-expanded="false">Побутова техніка</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Бойлери</a></li>
        <li><a class="dropdown-item" href="#">Сіковижималки</a></li>
        <li><a class="dropdown-item" href="#">Ваги</a></li>
        <li><a class="dropdown-item" href="#">Зволожувачі повітря</a></li>
        <li><a class="dropdown-item" href="#">Все для дому</a></li>
        <li><a class="dropdown-item" href="#">Холодильники</a></li>
        <li><a class="dropdown-item" href="#">Інше</a></li>
        <li><a class="dropdown-item" href="#">Чайники</a></li>
        <li><a class="dropdown-item" href="#">Кавоварки</a></li>
        <li><a class="dropdown-item" href="#">Електроплити, газові плити</a></li>
        <li><a class="dropdown-item" href="#">Кофемолки</a></li>
        <li><a class="dropdown-item" href="#">Кухонні комбайни</a></li>
        <li><a class="dropdown-item" href="mikrohvilovy-pechi.html">Мікрохвильовки</a></li>
        <li><a class="dropdown-item" href="#">Мультиварки</a></li>
        <li><a class="dropdown-item" href="#">М’ясорубки</a></li>
        <li><a class="dropdown-item" href="#">Обігрівачі</a></li>
        <li><a class="dropdown-item" href="#">Пилососи</a></li>
        <li><a class="dropdown-item other" href="pobutova-tehnika.html">Переглянути усі категорії</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Музичне обладнання, інструменти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Годинники наручні</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Дім та сад</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Спорт і відпочинок</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Автотовари</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">На запчастини/ремонт</a>
    </li>
  </ul>
</div>