<div class="news-item promo-item">
  <div class="promo-item__img">
    <img src="@@src" alt="Фото акції">
  </div>
  <div class="news-item__text promo-item__text">
    <p class="promo-item__mark">Акція</p>
    <p class="news-item__date promo-item__date">До закінчення: <span>@@date</span></p>
    <h3 class="promo-item__title promo-item__title--@@modif">@@title</h3>
    <p class="promo-item__disc">@@text</p>
    @@include('_sprite.html', {"class": "promo-item__percent @@mod", "id": "sprite--percent"})
  </div>
</div>