.--svg__menu-arrow,.--svg__menu-arrow-before::before,.--svg__menu-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 7a.875.875 0 01-.56-.201L.69 2.424a.876.876 0 011.12-1.348l4.69 3.92 4.69-3.78a.875.875 0 011.233.131.876.876 0 01-.123 1.278L7.05 6.85A.875.875 0 016.5 7z' fill='%230D4689' fill-opacity='.43'/%3E%3C/svg%3E");
}
.--svg__menu-arrow-before::before {
    content:'';
}
.--svg__menu-arrow-after::after {
    content:'';
}