<section class="callback">
  <div class="container">
    <h2 class="front-title front-title--w">зв’яжіться з нами</h2>
    <form class="callback__form">
      <div class="callback__form-text">Ви маєте можливисті залишити будь-яку пропозиція або запитання до нас</div>
      <div class="callback__form-items">
        <div class="callback__form-item">
          <label for="pib" class="callback__form-label">ПІБ</label>
          <input id="pib" name="name" type="text" class="callback__form-input" placeholder="Авраменко Сергій Миколайович">
          <label for="tel" class="callback__form-label">Телефон</label>
          <input id="tel" name="tel" type="text" class="callback__form-input" placeholder="+38 (097)....   ..   ..">
          <label for="email" class="callback__form-label">Email</label>
          <input id="email" name="email" type="text" class="callback__form-input" placeholder="avramenko@gmail.com">
        </div>
        <div class="callback__form-item">
          <label for="text" class="callback__form-label">Ваш текст</label>
          <textarea name="text" id="text" cols="30" rows="10" class="callback__form-input callback__form-textarea" placeholder="Введіть текст..."></textarea>
        </div>
      </div>
      <button class="button button--red">Надіслати</button>
    </form>
  </div>
</section>