<footer class="footer">
  <div class="footer__nav">
    <div class="container d-flex">
      <div class="footer__contacts">
        <a class="navbar-brand" href="#">
          <img src="../../img/logo-w.svg" alt="Парус логотип" width="162" height="60">
        </a>
        <p>04211, Україна, м. Київ, пр. Г. Сталінграда 4</p>
        <p class="footer__tel">
          <a href="tel:+380682510303">(068) 251-03-03</a>
          <br><span class="small">щодня з 09:00-20:00</span>
        </p>
      </div>
      <div class="footer__nav-item">
        <h5 class="footer__link footer__link-dropped">Про нас</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Про компанію</a></li>
          <li class="nav-item mb-2"><a href="vacancii.html" class="nav-link p-0">Вакансії</a></li>
          <li class="nav-item mb-2"><a href="vidguk.html" class="nav-link p-0">Відгуки</a></li>
          <li class="nav-item mb-2"><a href="contacts.html" class="nav-link p-0">Контакти</a></li>
        </ul>
      </div>

      <div class="footer__nav-item">
        <h5 class="footer__link footer__link-dropped">Кредити</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Оцінка золота</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Оцінка срібла</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Оцінка техніки</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Оцінка діамантів</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Оцінка швейцарських годинників</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Скупка золота</a></li>
        </ul>
      </div>

      <div class="footer__nav-item">
        <h5 class="footer__link footer__link-dropped">Магазин</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Магазин техніки</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Магазин золота</a></li>
          <li class="nav-item mb-2"><a href="oplata-ta-dostavka.html" class="nav-link p-0">Оплата та доставка</a></li>
        </ul>
      </div>
      <div class="footer__nav-item"><a href="viddilenia.html" class="footer__link">Bідділення</a></div>
      <div class="footer__nav-item"><a href="oplata-online.html" class="footer__link">Оплата онлайн</a></div>
      <div class="footer__nav-item"><a href="news-and-promo.html" class="footer__link">Новини та акції</a></div>
      <div class="footer__copyright">
        <img src="../../img/app.webp" alt="apps" class="apps">
        <p>Всі права захищені © Ломбард «ПАРУС» 2022</p>
      </div>
    </div>
  </div>
  <div class="container partner d-flex justify-content-between py-4">
    <div class="partner__item d-flex flex-wrap justify-content-between">
      <p class="partner__title">Наші партнери</p>
      <img src="../../img/np.webp" alt="Nova poshta">
      <img src="../../img/privat.webp" alt="Privat bank">
    </div>
    <div class="partner__item d-flex flex-wrap justify-content-between">
      <p class="partner__title">Приймаємо до сплати</p>
      <img src="../../img/viza.webp" alt="Viza">
      <img src="../../img/mastercard.webp" alt="MasterCard">
    </div>
    <div class="partner__item d-flex flex-wrap justify-content-between">
      <p class="partner__title">Безпечні платежи </p>
      <img src="../../img/fondy.webp" alt="Fondy">
    </div>
    <div class="partner__item d-flex flex-wrap justify-content-between">
      <p class="partner__title">Приєднуйтесь до нас</p>
      <img src="../../img/viber.svg" alt="Viber chat">
      <img src="../../img/viber.svg" alt="Viber chat">
      <img src="../../img/fb-w.svg" alt="Facebook">
      <img src="../../img/insta-w.svg" alt="Instagram">
    </div>
  </div>
</footer>
<div id="to-top">
  <img src="img/to-top.svg" alt="вверх" width="42" height="42">
</div>
