<header class="header">
  <nav class="navbar navbar-expand-lg flex-wrap">
    <div class="container flex-wrap">
      <a class="navbar-brand close" href="index.html">
        <img src="../../img/logo.svg" alt="Парус логотип" width="162" height="60">
      </a>
      <div class="lang close">UA</div>
      <form class="d-flex nav-search">
        <input class="form-control me-2" type="search" aria-label="Хочу знайти..." placeholder="Хочу знайти...">
        <button class="btn-search" type="submit">Search</button>
      </form>
      <div class="nav-buttons close">
        <div class="nav-button enter">Профиль</div>
        <div class="nav-button cart">Карзина</div>
        <div class="nav-button like-list">Избранные</div>
      </div>
      <div class="nav-contacts close">
        <div class="nav-contacts__button">Головне МЕНЮ</div>
        <a href="tel:+380682510303" class="tel">(068) 251-03-03</a>
        <div class="social">
          <a class="social__fb" href="#">
            <img src="../../img/fb.svg" alt="facebook">
          </a>
          <a class="social__insta" href="#">
            <img src="../../img/insta.svg" alt="instagram">
          </a>
        </div>
      </div>
    </div>
    <div class="main-menu mt-3">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Про нас
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Про компанію</a></li>
                <li><a class="dropdown-item" href="#">Вакансії</a></li>
                <li><a class="dropdown-item" href="#">Відгуки</a></li>
                <li><a class="dropdown-item" href="#">Контакти</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Кредити
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Оцінка золота</a></li>
                <li><a class="dropdown-item" href="#">Оцінка срібла</a></li>
                <li><a class="dropdown-item" href="#">Оцінка техніки</a></li>
                <li><a class="dropdown-item" href="#">Оцінка діамантів</a></li>
                <li><a class="dropdown-item" href="#">Оцінка швейцарських годинників</a></li>
                <li><a class="dropdown-item" href="#">Скупка золота</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Магазин
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Магазин техніки</a></li>
                <li><a class="dropdown-item" href="#">Магазин золота</a></li>
                <li><a class="dropdown-item" href="#">Оплата та доставка</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="viddilenia.html">Відділення</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="oplata-online.html">Оплата онлайн</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news-and-promo.html">Новини та акції</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
